/* Estilos de pagina de viajes 
*{
    outline: solid black;
}
*/
body { /* Selección de body */
font-family:Arial, sans-serif ; /* Cambia tipografia */
margin: 0; /* Elimina todo el margen predefinido */
padding: 0; /* Elimina todo el relleno de los elementos */
} 
/* acá viene el estilo de una clase container */
.container {
    width: 80%; /* Establece el ancho del contenedor en un 80% porciento */
    margin: 0 auto; /*centra horizontalmente el contenedor */
}
/* estilo de encabezado*/
header {
    background-color: #333; /* Establece el color del fondo */
    color: #fff; /*Establece el colordel texto */
padding: 20px 0; /*Añade relleno superior e inferior*/
}

header h1{
    margin: 0; /* elimina el margen por defecto del título */
}
/*Estilo de elementos de lista */
nav ul li{
    display:inline; /* Alinea los elementos */
    margin-right: 20px; /* Margen hacia la derecha */ 
}
/* Estilo a los elementos de vinculo ancla de navegación */
nav ul li a{
    color:#fff; /* color a los elementos anchor */
    text-decoration: none; /* quita subrayado de enlaces */
}

section{
    padding: 40px 0; /* Añande relleno superior e inferior */
}

#banner{
    background-image: url('https://via.placeholder.com/1500x500'); /* Establece la imagen de fondo del banner de fondo */
    background-size: cover; /* ajusta la imagen al área del banner */
    color: #fff; /*Establece color al texto*/
    text-align: center; /* centra el texto del banner */
    padding: 130px 0; /* define relleno superior e inferior */
}
#banner h2{
    font-size: 36px; /* Establece tamaño de texto */
}
#banner p{
    font-size: 18px;/* Establece el tamaño de p*/ 
    margin-bottom: 20px; /* Define margen inferior*/
}

.btn{
    background-color: #007bff; /* color fondo de boton */
    color: #fff; /* color del texto del boton */
    padding: 10px 20px; /* relleno del boton */
    text-decoration: none; /* quita decoración de enlace */
}
/* estilo cuando pasa puntero sobre le boton */
.btn:hover {
    background-color: #0056b3;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}